# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Build
dist/
build/

# Sistema
.DS_Store
Thumbs.db

# Entorno
.env
.env.local
.env.*.local

# Editor
.vscode/
.idea/
*.swp

# OS
*.log

# Tests snapshots (si usas testing)
__snapshots__/

# Coverage
coverage/
