@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

.pkmnList {
    list-style: none;
    padding: 30px 50px;
    border-radius: 6px;
    background-color: rgba(0, 0, 0, 0.103);

    .pkmn {
        display: flex;
        align-items: center;
        align-content: center;
        justify-content: center;
        width: 25em;
        margin-bottom: 10px;
        font-size: 1em;
        font-family: 'Press Start 2P', monospace;
        color: #c7c6c6;
        border-radius: 8px;
        background-color: rgba(0, 0, 0, 0.329);

        &:hover {
            color: #d6d5d5;
        }

        &:active {
            color: #59526e;
        }

        .pkmnSprite {
            img {
                width: 90px;
                height: auto;
                margin-right: 10px;
            }

        }
    }

}

.return{
    font-size: 1.5em;
    position: fixed;
    bottom: 20px;
    right: 30px;
    padding: 10px 20px;
    background-color: #383641;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    z-index:1000;
    &:hover{
        background-color: #26252c;
    }
    &:active{
        background-color: #16141a;
    }
}